.homeContainer{
    padding: 20px;
    .flex{
        display: flex;
    }
    .logout{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        position: fixed;
        right: 18px;
        .styleLogout{
            background: #fc01ff;
            color: white;
            font-weight: bold;
            padding: 10px;
        }
    }
    .listParent{
        padding: 10px 40px;
        width: 50%;
        border: 1px solid grey;
        display: flex;
        margin: auto;
        flex-direction: column;
        .listChild{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;
            border-bottom: 1px solid grey;
        }
    }
    .loader{
        justify-content: space-between;
        align-items: center;
        padding:10px
    }
}

@media only screen and (max-width: 600px) {
    .homeContainer {
        .listParent{
            width: 100%;
            border: 1px solid grey;
            display: flex;
            margin: 0px; 
            flex-direction: column;
        }
    }
  }